.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto 30px;
}

.sound {
  cursor: pointer;
}

.speakerXlogo,
.speakerWlogo {
  font-size: 50px;
  transition: 0.1s ease;
}

.speakerXlogo:active,
.speakerWlogo:active {
  color: gray;
  transform: scale(0.9);
}

.speakerXlogo {
  color: #ccc;
}

.restartLogo {
  font-size: 50px;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.1s ease;
}

.restartLogo:active {
  color: gray;
  transform: scale(0.9);
}

.stats {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.textArea {
  width: 60%;
  min-height: 400px;
  padding: 30px;
  font-size: 20px;
  resize: none;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
  font-size: 28px;
  background-color: rgb(235, 235, 235);
}

.correctChar{
  background-color: rgb(255, 255, 255);
  color: rgb(167, 167, 255);
}

.incorrectChar{
  color: red;
  background-color: rgb(255, 196, 196);
}

.currentChar{
  background-color: #c4c4c4;
  transition: .3s ease;
}

.invisibleInput{
  opacity: 0;
}
