.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}

.sound {
  cursor: pointer;
}

.speakerXlogo,
.speakerWlogo {
  font-size: 50px;
  transition: 0.1s ease;
}

.speakerXlogo:active,
.speakerWlogo:active {
  color: gray;
  transform: scale(0.9);
}

.speakerXlogo {
  color: #ccc;
}

.restartLogo {
  font-size: 50px;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.1s ease;
}

.restartLogo:active {
  color: gray;
  transform: scale(0.9);
}

.stats {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.textArea {
  width: 60%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  margin: 0 auto;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
}
